{% extends "base.html" %}

{% block content %}
    {% comment %}
        Form that allow the user to insert his email address in order to receive an email with a valid link to reset his password
    {% endcomment %}
    <form method="post" action="#" class="form-signin">
        <h1 class="form-signin-heading" id="local-title">Resete sua senha</h1>
        {% csrf_token %}
        <table class="spaced_table">
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset" />
    </form>
{% endblock %}


{% block sidebar %}
    {% comment %}
        Additional page information
    {% endcomment %}
    <div id="sidebarContent">
        <p class="lead">Resete sua senha</p>
        <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
    </div>

{% endblock %}