{% extends "base.html" %}

{% block content %}
    {% comment %}
        Hide the sidebar and center the main content
    {% endcomment %}
    <script type="text/javascript">
        $('#sidebar').hide;
        $('#content').css("width", "100%");
     </script>
    <div class="container">
        <div class="jumbotron">
            <p class="lead">Enviámos-lhe instruções para definir a sua palavra-passe, se existir uma conta com o email que introduziu. Você deve recebê-los em breve.</p>
            <p class="lead">Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam.</p>
        </div>
    </div>
{% endblock %}